
// Variables
$color-primary: #039be5;
$color-secondary: #eee;

.active {
  background: yellow;
}

.app-header {
  position: relative;
}

h1 {
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.input-group .form-control:not(:last-child) {
  padding-top: .6rem;
  padding-bottom: .6rem;
  width: 70%;
  border-bottom: 0;
  border-left: 0;
  border-color: $color-secondary;
}

.input-group-addon {
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  min-width: remy(80px);
  width: 30%;
  color: #fff;
  background-color: $color-primary;
  border: 0;
  border-radius: 0;
  
  &:focus {
    outline: 0;
  }
}

.comment-list {
  padding: 0;
  margin-bottom: 0;
  margin-left: 0;
  overflow: hidden;
  list-style-type: none;
}

.comment-item {
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  width: 100%;
  background: #fff;
  cursor: default;
  border-top: 1px solid $color-secondary;
  
  &:last-of-type {
    border-bottom: 1px solid $color-secondary;
  }
}
